/* 공통 스타일 */
* {
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* 스크롤 기능 추가 */
}

.wrapper {
    width: 100%;
    min-height: 100%; /* 전체 높이를 충분히 크게 설정 */
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.contents__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: #55b2d4;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    padding-left: 5px;
    font-size: 8px;
}

.divideLine {
    width: 100%;
    border-top: 1px solid gray;
    margin-bottom: 5px;
}

.passwordInput {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 8px;
}

button {
    padding: 10px;
    background-color: #55b2d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

.registerButton {
    align-self: flex-end; /* 버튼을 우측 끝으로 정렬 */
}

.diaryEntries ul, .storyEntries ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.diaryEntries li, .storyEntries li {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendPosts, .storyEntries {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.friendPosts div, .storyEntries div {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendPosts button, .storyEntries button {
    background-color: #ff6f61;
    padding: 10px 15px;
    font-size: 8px;
    margin: 1px 1px;
    align-self: flex-end; /* 버튼을 우측 끝으로 정렬 */
}
